<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Example of Pseudo-classes</title>
<style> 
    a:link {
        color: blue;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        color: red;
    }
    a:active {
        color: gray;
    }
    a:focus {
        color: yellow;
    }
</style>
</head>
<body>        
    <p>Visit <a href="https://www.google.com" target="_blank">www.google.com</a></p>
</body>
</html>
